@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Krona One', sans-serif;
    font-size: 16pt;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    overflow-x: hidden;
    width: 100%;

    @media (max-width: 1500px) {
        font-size: 13pt;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
    }
}

#gradient-canvas {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;

    --gradient-color-1: #632a6b;
    --gradient-color-2: #5f317a;
    --gradient-color-3: #4f007c;
    --gradient-color-4: #83008f;
}
